<!-- Footer -->
<footer>
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
                <ul class="list-inline text-center">
                    <li>
                        <a href="{{ "/feed.xml" | prepend: site.baseurl }}">
                            <span class="fa-stack fa-lg">
                                <i class="fa fa-circle fa-stack-2x"></i>
                                <i class="fa fa-rss fa-stack-1x fa-inverse"></i>
                            </span>
                        </a>
                    </li>
                    {% if site.twitter_username %}
                    <li>
                        <a href="https://twitter.com/{{ site.twitter_username }}">
                            <span class="fa-stack fa-lg">
                                <i class="fa fa-circle fa-stack-2x"></i>
                                <i class="fa fa-twitter fa-stack-1x fa-inverse"></i>
                            </span>
                        </a>
                    </li>
                    {% endif %}
                    {% if site.facebook_username %}
                    <li>
                        <a href="https://www.facebook.com/{{ site.facebook_username }}">
                            <span class="fa-stack fa-lg">
                                <i class="fa fa-circle fa-stack-2x"></i>
                                <i class="fa fa-facebook fa-stack-1x fa-inverse"></i>
                            </span>
                        </a>
                    </li>
                    {% endif %}
                    {% if site.github_username %}
                    <li>
                        <a href="https://github.com/{{ site.github_username }}">
                            <span class="fa-stack fa-lg">
                                <i class="fa fa-circle fa-stack-2x"></i>
                                <i class="fa fa-github fa-stack-1x fa-inverse"></i>
                            </span>
                        </a>
                    </li>
                    {% endif %}
                </ul>
                <p class="copyright text-muted">
                  Copyright &copy; {{ site.title }} {{ site.time | date: '%Y' }}
                  Cover photo is taken by <a href="https://www.flickr.com/photos/chaojikazu/239259029/in/photolist-n9gnF-4NWc2a-wgZwq-wgWDA-4Nt1sb-4Nt1MS-4Nt1Pf-27GN9-4NoNTn-wh2sm-wgX2f-wh1U7-aqaJZd-wgYmm-gDHme-gDHgE-gDHpk-k29yDD-wgYQe-wgZgx-5E4Kdq-6z8wnr-5RjEsM-5DZt5D-5RoXKC-6z8vPt-5DZtup-5RjErR-5RjEy6-5RjnZH-6z8w1K-5DZteM-5RoFrs-6z8vx2-6zcAdh-5RoFuY-6zczJj-5RoXT5-5RjEtM-5E4K39-6z8vXp-wh3zd-wgWi4-wgZVL-wh1jM-wh1HY-wh2YS-gDHj7-gDH6F-gDH47">kazuletokyoite</a>
                </p>
            </div>
        </div>
    </div>
</footer>

<!-- jQuery -->
<script src="{{ "/js/jquery.min.js " | prepend: site.baseurl }}"></script>

<!-- Bootstrap Core JavaScript -->
<script src="{{ "/js/bootstrap.min.js " | prepend: site.baseurl }}"></script>

<!-- Custom Theme JavaScript -->
<script src="{{ "/js/clean-blog.min.js " | prepend: site.baseurl }}"></script>
